.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: 0.2rem solid black;

}


.navbar {
    /* border: 0.2rem solid blue; */
    border-radius: 15px;
    margin: 1rem;
    
}


.hero {
    /* background-image: url("./hero-image.jpg");
    background-position: center; */
    background-color: #B2BFD9;
    margin-top: -6.5rem;
    padding-top: 6rem;
    padding-bottom: 2rem;


}

.lead {
    color: #5355DB;
}

.feature-section {
    background-color: #A7C7D9;
}


@media (max-width: 767px) {
    .navbar {
        position: absolute;
        width: 90%;
        
    }
}





